@media screen and (max-width: 700px) {
    .container .hero .decoration{
        display: none;
    }
    .container .hero .form-input{
        width: 100%;
    }
}
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
}
.decoration{
    height: 100vh;
    background-color: #EFC81A;
    width: 50%;
}
.decoration::after{
    content: "";
    height: 100vh;
    width: 50%;
    position: absolute;
    background-color: #EFC81A;
    opacity: 0.7;
    z-index: 99 !important;
}
.decoration img{
    width: 50%;
    height: 100vh;
    position: absolute;
}
.decoration .icon-recipe{
    z-index: 100;
    /* width: 200px; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px ;
}
.form-input{
    height: 100vh;
    background-color: white;
    width: 50%;
}
.form-input .form-group{
    top: 150px !important;
    /* left: 900px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form-input .form-group h1{
    color: #EFC81A;
    font-size: 35px;
    /* text-align: center; */
}
.form-input .form-group small{
    font-size: 15px;
    padding: 15px 0px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Inter', normal;
    color: #8692A6;
}
.form-input .form-group form label{
    font-size: 15px;
    display: flex;
    padding: 15px 0px 15px;
    flex-direction: column;
}
.form-input .form-group form input{
    border: none;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F4;
}
.form-input .form-group form .form-check{
    display: flex;
    flex-direction: row;
}
.form-input .form-group form .form-check .check-box{
    width: 15px !important;
    height: 15px !important;
    accent-color: #EFC81A;
    margin-top: 20px;
    margin-right: 15px;
}
.form-input .form-group form .form-check label{
    padding-top: 19px;
}
.form-input .form-group form button{
    border: none;
    background-color: #EFC81A;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    color: white;
}
.form-input .form-group form a{
    display: flex;
    justify-content: right;
    padding-top: 15px; ;
    font-size: 13px;
    color: #999999;
    text-decoration: none;
}
.form-input .form-group form .dont-have-account{
    display: flex;
    justify-content: center;
}
.form-input .form-group form .dont-have-account a{
    margin-top: 1px;
    margin-left: 5px;
    text-decoration: none;
}